In [6]:
import pandas as pd 
import numpy as np
import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler  
from sklearn.tree import plot_tree, export_graphviz
import matplotlib.pyplot as plt
import graphviz
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [10]:
data = pd.read_excel('dataproject2024.xlsx')
data.head()

,ID,Job tenure,Age,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Default (y),Pred_default (y_hat),PD,Group
0,1,34,55,4875,3087,0,36,0.047895,0,1,1,0,0,0.024480,1
1,2,5,29,13000,13000,0,60,0.091667,0,0,0,1,0,0.331661,0
2,3,14,38,17190,14190,0,60,0.088235,0,0,0,0,0,0.187505,0
3,4,16,37,22773,23568,0,48,0.110084,0,1,1,0,0,0.035441,1
4,5,1,61,7700,8526,0,48,0.123404,0,1,0,1,0,0.340883,0

In [11]:
# Drop useless features
data = data.drop(columns=['ID', 'Pred_default (y_hat)', 'Group', 'Default (y)'])

X = data.drop(columns="PD")
y = data["PD"]

# Train a XGB model